<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Areas</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  </head>
  <body>
    <div id="app">

    </div>
    <strong th:text="${mensaje}"></strong>
    <button>eiurg</button>
    <script>
      new Vue({
      })
    </script>
  </body>
</html>
