<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
  </head>
  <body>
    <div id = "app">
      <div class="lead">
        <strong>Name of Event:</strong>
        <span th:text="${eventName}"></span>
      </div>
    </div>

    <script type="text/label">
      var a = new Vue({
        el: #'app'
      });
    </script>

  </body>
</html>
